@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Roboto:wght@400;500&display=swap');

    header{
        background-color: #fff;
    }

    header h1 {
      font-size: 2rem;
      color: #ED6087;
    }

    header p {
      font-size: 1rem;
      color: darkblue;
    }

    .kits-listado {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2rem;
      padding: 4.2rem 2rem;
    }

    .kit-card {
      background-color: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      width: 300px;
      padding: 1.5rem;
      text-align: center;
      transition: transform 0.3s ease;
    }

    .kit-card:hover {
      transform: translateY(-5px);
    }

    .kit-card img {
      width: 100%;
      border-radius: 10px;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      max-height: 220px; /* Ajusta según el diseño deseado */
      object-fit: contain;
      background-color: #f0f0f0;
    }

    .kit-card h2 {
      font-size: 1.5rem;
      color: darkblue;
      margin-bottom: 0.5rem;
    }

    .kit-card p {
      font-size: 1rem;
      color: #555;
      margin-bottom: 1rem;
    }

    .kit-card ul {
      list-style: none;
      padding: 0;
      margin-bottom: 1rem;
    }

    .kit-card ul li {
      background-color: #f0f0f0;
      margin: 0.3rem 0;
      padding: 0.5rem;
      border-radius: 6px;
      font-size: 0.95rem;
    }

    .btn-descarga {
      display: inline-block;
      padding: 0.6rem 1.2rem;
      background-color:  #7FB3D5;
      color: #fff;
      text-decoration: none;
      border-radius: 8px;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }

    .btn-descarga:hover {
      background-color: #608ba8;
    }

    
  /* Responsivo para móviles */
  @media (max-width: 1000px) {
    .jeyton-header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .logo-container {
      justify-content: center;
    }

    .logo-container h2 {
      font-size: 1.6rem;
    }

    .logo-container p {
      font-size: 0.95rem;
    }
  }




